@import url(../reset.css);
html{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
body{ 
    min-width: 200px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 150px 1fr;
    height: 100vh;
    width: 100%;
    grid-template-areas: 
    "header header "
    "menuLateral contenido-prin ";
}
header{
    grid-area:header;
}
nav{
    position:sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: red;
    & ul{
        background-color: yellow;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        padding:0;
        & li{
        
            width: auto;
            font-size: 1.5em;
            
        }
        & li:first-child{
            flex-grow: 1;
            text-align: center;
        }
        & li:last-child{
            background-color: green;
            & img{
                height: 30px;
                width: auto;
            }
            word-wrap: normal;
            margin-right: 10vw;
        }
    }
    

}
aside{
    display: flex;
    font-size:1.5em ;
    grid-area:menuLateral;
    max-height: 100vh;

    & ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        list-style: none;
        text-overflow: ellipsis;
        overflow-x: hidden;
        gap:20px;
        /* margin-left: 2.5vw; */
        flex-grow: 1;
        height: 100%;
        width: 100%;
        & li{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            background-color: red;
            & a{
                color: chocolate;
            }
        }
        & li:hover{
            cursor: pointer;
        }
        
    }
    & hr{
        display: block;
        margin:0px;
        position:relative;
        background-color: black;
        width: 3px;
        height: 100%;
    }
    & hr:hover{
        cursor: col-resize;
    }
}
.col-resize{
    cursor: col-resize;
}
main{
    max-height: 100%;
    grid-area:contenido-prin;
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.modal-inicial{
    user-select:none;
    height: 20%;
    width: 40%;
    background-color: lightcoral;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding:20px;
}


table,th,td{
    /* border-collapse: collapse; */
    border-spacing: 20px 10px;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}
table{
    display: block;
    
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 1.5em;
    
}
tr{
    display: table-row;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-spacing: 10px 5px;
}
td {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}
td img{
    height: 15px;
    width: auto;
}
.tabla-mostrar-tablas tbody tr td:last-child{
    background-color: blue;
    position:sticky;
    left: 0px;
    display: block;
}
.borrarFila{
    background-color: lightcoral;
    display:block;
    width: 50px;
}